# Use postgres/example user/password credentials

services:
  db:
    container_name: postgres_db
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydatabase
      PGDATA: local_pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    networks:
      - pg_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: mysecretpassword
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "8080:80" # Access pgAdmin at http://localhost:8080
    networks:
      - pg_network
volumes:
  local_pgdata:
  pgadmin-data:

networks:
  pg_network:
    driver: bridge
